@import "tailwindcss";

:root {
  --primary: #ffffff;
  --secondary: #171717;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--primary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}
